/**
 * App.css
 */
body {
    background-image: url('/img/halftone.png');
    background-repeat: repeat;
}
#logo {
    text-align: center;
}
#main {
    background-color: white;
}
.page .authorbar ul {
    text-align: center;
}
.authorbar ul li{
    display: inline-block;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
}
.authorbar ul li:hover {
    background-color: #77b800;
}

.page .post-date {
    text-align: right;
    font-size: .8em;
}

.page .post-author {
    font-weight: bold;
}

ul#nav {
    list-style-type: none;
}

.comment h5 {
    font-size: .8em;
}
.comment div {
    border: 1px solid black;
    margin-bottom: 5px;
}

#errors li {
    width: 100%;
    background-color: red;
    border: 2px solid black;
    color: white;
}

#success li {
    width: 100%;
    background-color: #77b800;
    border: 2px solid black;
    color: white;
}
